@model BookNook.Models.EditBookViewModel

@{
    ViewData["Title"] = "Editar libro";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="LibroId" />

    <div class="form-group">
        <label for="Titulo">Título</label>
        <input type="text" class="form-control" id="Titulo" name="Titulo" value="@Model.Titulo" required />
    </div>
    <div class="form-group">
        <label for="Autor">Autor</label>
        <input type="text" class="form-control" id="Autor" name="Autor" value="@Model.Autor" required />
    </div>
    <div class="form-group">
        <label for="Genero">Género</label>
        <input type="text" class="form-control" id="Genero" name="Genero" value="@Model.Genero" />
    </div>
    <div class="form-group">
        <label for="Subgenero">Subgénero</label>
        <input type="text" class="form-control" id="Subgenero" name="Subgenero" value="@Model.Subgenero" />
    </div>
    <div class="form-group">
        <label for="Idioma">Idioma</label>
        <input type="text" class="form-control" id="Idioma" name="Idioma" value="@Model.Idioma" />
    </div>
    <div class="form-group">
        <label for="NumeroPaginas">Número de páginas</label>
        <input type="number" class="form-control" id="NumeroPaginas" name="NumeroPaginas" value="@Model.NumeroPaginas" required />
    </div>
    <div class="form-group">
        <label for="AnoPublicacion">Año de publicación</label>
        <input type="number" class="form-control" id="AnoPublicacion" name="AnoPublicacion" value="@Model.AnoPublicacion" required />
    </div>
    <div class="form-group">
        <label for="ImagenPortadaFile">Imagen de portada</label>
        <input type="file" class="form-control" id="ImagenPortadaFile" name="ImagenPortadaFile" />
        <img src="@Model.ImagenPortada" alt="Imagen de portada" class="img-thumbnail mt-2" style="max-width: 200px;" />
    </div>
    <button type="submit" class="btn btn-signup">Guardar cambios</button>
</form>

