@model BookNook.Models.InicioViewModel

@{
    ViewData["Title"] = "Mi Biblioteca - Book Nook";
}

<div class="stats-card">
    <h2>Objetivo de lectura: @Model.ObjetivoAnual Libros</h2>
    <p>Progreso: @Model.ProgresoAnual Libros leídos</p>
</div>

<div class="recent-reads">
    <h2>Lecturas recientes</h2>
    <div class="books-grid">
        @foreach (var libro in Model.LecturasRecientes)
        {
            <div class="book-card">
                <img src="@libro.ImagenPortada" alt="@libro.Titulo" class="book-cover">
                <div class="book-info">
                    <div>
                        <h3>@libro.Titulo</h3>
                        <p>@libro.Autor</p>
                    </div>
                    <div>
                        <p>Lectura: @libro.AvanceLectura%</p>
                        <p>@libro.Fecha</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




